{% extends 'good_distractions_base.html' %} {%block page_title%}
<h1>Change Password</h1>
{%endblock%}
{%block content%}
<div>
  <div>
    <div>
      <div>
        <div>
          <div>
            <h3>Change Your Password</h3>
          </div>
          {% if form.errors %}
          <div role="alert">
            <div id="form_errors">
              {% for key, value in form.errors.items %}
              <strong>{{ value }}</strong>
              {% endfor %}
            </div>
            <button type="button" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endif %}

          <div>
            <form method="POST">
              {% csrf_token %}
              <div>
                <div>
                  <div>
                    <label c for="id_old_password">Old Password</label>
                    <input
                      type="password"
                      name="old_password"
                      autocomplete="new-password"
                      required
                      id="id_old_password"
                      placeholder="Enter Old Password"
                    />
                    <span> </span>
                  </div>
                </div>
              </div>
              <div>
                <div>
                  <div>
                    <label for="id_new_password1">New Password</label>
                    <input
                      type="password"
                      name="new_password1"
                      autocomplete="new-password"
                      required
                      id="id_new_password1"
                      placeholder="Enter New Password"
                    />
                    <span> </span>
                  </div>
                </div>
              </div>
              <div>
                <div>
                  <div>
                    <label for="id_new_password2"
                      >New Password Confirmation</label
                    >
                    <input
                      type="password"
                      name="new_password2"
                      autocomplete="new-password"
                      required
                      id="id_new_password2"
                      placeholder="Confirm New Password"
                    />
                  </div>
                </div>
              </div>
              <div>
                <div>
                  <div>
                    <button type="submit" id="reset">Update Password</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
