{% extends 'base.html' %} {% load static %}
 <!-- {% load datagateway_template_tags %}  -->
 {%block content%}
<div class="flex">
  <h1>{{dictionary.title}}</h1>
  <h1>{{dictionary.source}}</h1>
  <h1>Preview</h1>
  <table id="dictionary_preview" class="table table-bordered dt-responsive nowrap w-100">
    <thead>
     {{ data | convert_data_frame_to_html_table_headers | safe}}
    </thead>
    <tbody>
      {{data | convert_data_frame_to_html_table_rows | safe}}
    </tbody>
   </table>
</div>
{%endblock%}
