{% extends 'base.html' %} {% load static %}
 <!-- {% load datagateway_template_tags %}  -->
 {%block content%}
<div class="flex">
  <h1>{{dictionary.title}}</h1>
  <h1>{{dictionary.source}}</h1>
  <h1>Preview</h1>

   <ul>
    <a>
      <a href="/dictionary/learn/{{dictionary.id}}" >Entire List</a>
      <a href="/dictionary/learn/q_no_u/{{dictionary.id}}" >Words with Q and not with U</a>
      <a href="/dictionary/learn/palindrome/{{dictionary.id}}" >Palindromes</a>
      <a href="/dictionary/learn/novowels/{{dictionary.id}}" >Words without vowels</a>
      <a href="/dictionary/learn/7l5v/{{dictionary.id}}" >7 letter words with 5 or more vowels</a>
      <a href="/dictionary/learn/5l4v/{{dictionary.id}}" >5 letter words with 4 vowels</a>
      <a href="/dictionary/learn/satine/{{dictionary.id}}" >7 letter words containing S-A-T-I-N-E</a>
      <a href="/dictionary/learn/endinz/{{dictionary.id}}" >Words that end in Z</a>
      <a href="/dictionary/learn/xlcontainz/{{dictionary.id}}" >X letter Words that contain Z</a>
      <a href="/dictionary/learn/xlw/{{dictionary.id}}" >X Letter words</a>
      <a href="/dictionary/learn/xyz/{{dictionary.id}}" >Words that contain XYZ</a>
    </a>
   </ul>
   <form method="POST" action="{% url 'flashcard_app:dictionary' dictionary.pk %}" class="">
   {% csrf_token %}
   <input type="hidden" name="form_type" value="filterForm">
   {{ form.as_p }}
  <button type="submit" class="save btn btn-default" name="form">Study</button>
</form>
</div>
{%endblock%}
