{% extends 'base.html' %}
{%block content%}
<h1>Welcome to Wordy Whiz</h1>
<p>permanent name pending...</p>
<p> This is a tool that allows users to upload a CSV file that contains <b>no headers</b>. Once uploaded, the user can study the words, flashcard style, applying various filters such as consonats only, words that end in 'z' and so on. </p>
<p>This tool is for you if you enjoy the world of word games, such as Scrabble, Wordle, Banagrams and <b>so many more.</b></p>
<p>Happy studying!</p>
{%endblock%}
